body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cor-menu {
    background: #262969;
}

    .cor-menu li a, .cor-marca {
        color: #ffffff;
    }

        .cor-menu li a:hover, .cor-marca:hover {
            color: #646363;
        }
        .cor-marca:hover {
            color: #646363;
            background: #ffffff;
        }
.select2-container{
    width:100% !important;
}